 /* general */
 *{
     padding:0;
     margin:0;
     font-family: 'ubuntu';
 }





 .task{
    background-color:rgba(238, 238, 238, 0.932);
 
    border-radius:7px;
    padding: 7px 8px;
    margin-top: 5px;
    height: 116px;  
    
}
.title__module{
    /* margin-top:-2px; */
    padding:2px;
    text-align: center;
    position: sticky;
    top:-1px;
    border-radius: 6px;

    background-color: whitesmoke;
    color: #222;
}
.title__module h1{
    font-size:15px;
    font-weight:500;
    margin: 8px 0;
}

 
.options__task{
    /* border: 1px solid #eee; */
    background-color: #ddd;
    height:30px;
    display: flex;

    border-radius:6px;
    margin-left:15px ;
    margin-right:15px ;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.option{
    display: flex;
    /* background-color:#222; */
    cursor:pointer;
    border: none;
    padding: 2px 4px;
    min-width: 20px;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:6px;
    font-size:12px;
    font-weight:600;
    margin: 0 8px;
}
.option:hover{
    /* opacity:.9; */
    color:#222;
}
.option img{
    width:20px;
    
}
.date__task{
     font-size: 11px;
     font-weight:500;
     color: #666;
}
.title{
      display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;

}
.title__task{
    font-size: 15px;
    text-align:left;
    color: #222;
    font-weight:500;
}
.content__task{
    margin-top: 10px;
    margin-bottom: 10px;
      text-align:left;
      color: #222;
       font-size: 14px;
}

 
.menu__pending p{
    color:#222;
    font-weight: 500;
   font-size:12px;
   margin-bottom: 5px;
}
.menu__pending button{
    padding:2px;
    color:white;
        width: 100px;
      border-radius: 5px;
    font-weight: 500;
    border:none;
    margin-top:2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px green;
    background-color: rgb(50, 182, 50);
}
.menu__pending button:hover{
    background-color: rgb(34, 145, 34);
}
.no-item {
    margin-top: 60px;
    margin-left:10px;
    width:310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.no-item img{
    color: white;
    opacity: .2;
     width:50px;
     margin: 5px 0;
}




.container__do {
    display: flex;
    justify-content: center;
    background-image: url('../../assets/images/background.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    background-size: 25%;

}
.pending{
    width:320px;
    /* background-color: #222; */
    padding: 2px 6px;
    height:520px;
    overflow:auto; 
    margin: 10px 10px;
    scroll-padding: 0;
    border: 1px solid #eee;
    border-radius: 10px;
}


 


.pending::-webkit-scrollbar {
    -webkit-appearance: none;
}

.pending::-webkit-scrollbar:vertical {
    width:10px;
}

.pending::-webkit-scrollbar-button:increment,.pending::-webkit-scrollbar-button {
    display: none;
} 

.pending::-webkit-scrollbar:horizontal {
    height: 10px;
}

.pending::-webkit-scrollbar-thumb {
    background-color: #8e928e;
    border-radius: 20px;
    border: 2px solid white;
}

.pending::-webkit-scrollbar-track {
    border-radius: 10px;  
}




































