.banner{
    width:100%;
    margin-top:-60px;
    height:90px;
    background-color: rgb(228, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
   
}
.container__add{
    margin-top: 88px;
    background-color: rgb(228, 222, 222);
    width:70px;
    height:70px;
    display: flex;
    box-shadow: 1px 1px 1px rgb(194, 184, 184);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.add{
    width:35px;
     
    
}
.banner__title{
   position: relative;
   color: #444;
   top:30px;
   left:-30vw;
    margin-left:-30px;
   font-size:20px;
   
}